@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    var homePage = Model.AncestorOrSelf<ContentModels.Home>();
}

<!DOCTYPE html>
<html lang="@UmbracoContext.PublishedRequest.Culture">

<head>
    @Html.Partial("metaData")
    <link rel="stylesheet preload" as="style" href="@Url.Content("~/assets/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet preload" as="style" href="@Url.Content("~/assets/fonts/ionicons.min.css")">
</head>

<body>
    @(await Component.InvokeAsync("TopNavigation", Model))
    @RenderBody()
    @(await Component.InvokeAsync("Footer", homePage))
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
    <script src="@Url.Content("/assets/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/theme.js")"></script>
</body>

</html>