@inherits UmbracoViewPage<Portfolio.Core.Models.ViewModels.TopNavigationViewModel>

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-primary portfolio-navbar">
    <div class="container">
        <a class="navbar-brand logo" href="@Model.HomePage.Url()">@Model.SiteName</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            @if (Model.NavigationItems != null && Model.NavigationItems.Any())
            {
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="@Model.HomePage.Url()">@Model.HomePage.Name</a></li>
                    @foreach (var item in Model.NavigationItems)
                    {
                        <li class="nav-item"><a class="nav-link active" href="@item.Url()">@item.Name</a></li>
                    }
                </ul>
            }
        </div>
    </div>
</nav>